html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	overflow: hidden;
	user-select: none;
}

.wrapper {
	height: 100%;
}

#map {
	height: 100%;
}

/* .form {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	padding-top: 0px;
	padding-left: 0px;
	background-color: #192130;
} */

ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;

	li {
		margin-bottom: 15px;
	}

}

.inputDataForm {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	min-width: 430px;
	padding: 0 20px 20px;
	color: #63609b;
	background-color: #192130;
	font-family: Arial, Helvetica, sans-serif;
	// box-sizing: border-box;
}

.header {
	padding-top: 17px;
}

.header-title {
	font-size: 20px;
	color: #fff;
	margin-right: 40px;
	cursor: move;
}

.close {
	position: absolute;
	top: 20px;
	right: 24px;
	width: 16px;
	height: 16px;
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
}

.close::before,
.close::after {
	position: absolute;
	top: 7px;
	left: 0;
	width: 22px;
	height: 2px;
	background-color: #939393;
	transition: background-color .3s ease;
	content: '';
}

.close::before {
	transform: rotate(45deg);
}

.close::after {
	transform: rotate(-45deg);
}

.close:hover::before,
.close:hover::after {
	background-color: #63609b;
}

.label {
	display: inline-block;
	vertical-align: top;
	padding-top: 14px;
	width: 85px;
	font-size: 10px;
	text-transform: uppercase;
}

.input {
	background-color: #0b1424;
	padding: 4px 8px;
	border: 0;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	width: 170px;
	height: 34px;
	box-sizing: border-box;
	color: #fff;
	transition: background-color .3s ease;
}

.input:focus {
	outline: none;
	background-color: #2e2d49;
}

.input.input-photo {
	height: 34px;
}

textarea.input {
	width: 300px;
	height: 120px;
	padding-top: 8px;
}

.controls {
	padding-left: 85px;
}

.controls > div {
	margin-bottom: 10px;
}

.button {
	overflow: hidden;
	position: relative;
	background-color: #5d949b;
	padding: 0 20px;
	border: 0;
	width: 140px;
	height: 27px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	margin: 0 5px;
}

.button span {
	position: relative;
	z-index: 2;
}

.button::after {
	content: '';
	transition: opacity 2s ease;
	opacity: 1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	transition: opacity .3s ease;
	background: linear-gradient(to right, #635d9b 15%, #5d949b 100%);
}

.button:hover::after {
	opacity: 0;
}

.button:active {
	left: 1px;
	top: 1px;
}

.button:focus {
	outline: none;
}

.infoform {
	position: fixed;
	z-index: 3;
	width: 440px;
	padding: 0 20px 20px;
	background-color: #192130;
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}

.field {
	display: block;
	margin-bottom: 10px;
}

.wat {
	color: #63609b;
	font-size: 10px;
	text-transform: uppercase;
	float: left;
	width: 85px;
}

.formField {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	transition: background-color .3s ease;
}

.headInfo {
	font-size: 20px;
	color: #fff;
	margin-top: 20px;
	cursor: move;
}

.buttonway {
	background-image: url(\images\way.png);
	background-repeat: no-repeat;
	background-position: 7% 50%;
}

.data-fotoform {
	position: fixed;
	top: 0;
	right: 0;
	max-width: 800px;
	max-height: 600px;
	z-index: 6;
	top: 0;
}

.img-preview {
	width: 80px;
	height: 60px;
	object-fit: cover;
	transition: 0.3s;
}

.img-preview-area:hover .img-preview {
	transform: scale(0.9);
}

#field5 .img-preview:hover {
	transform: scale(1)
}

.img-preview-area {
	display: inline-block;
	transition: 0.3s;
}


.buttonway {
	display: block;
	margin-left: 0;
	margin-top: 10px;
}

.move {
	position: absolute;
	top: 0;
	left: 0;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator{
  background: none;
  // padding: 0;
}