html,
body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	overflow: hidden;
	user-select: none;
}

.wrapper {
	height: 100%;
}

#map {
	height: 100%;
}

.form {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	padding-top: 0px;
	padding-left: 0px;
	background-color: #192130;
}



ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;

	li {
		margin-bottom: 15px;
	}

}


/* 
.links {
	margin-bottom: 10px;
}

.drag {
	position: absolute;
	width: 20px;
	height: 20px;
	right: 20px;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.4)
}

.kmlclass {
	position: absolute;
	width: 130px;
	height: 20px;
	left: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.4);
	text-align: center;
}

.kmlclass:hover {
	background-color: rgba(0, 255, 0, 0.4)
}

.drag:hover {
	background-color: rgba(0, 0, 255, 0.4)
}

.infoform {
	position: absolute;
	width: 500px;
	height: 300px;
	z-index: 11;
	background-color: #192130;
}


.fotoForm {
	position: inherit;
	width: 800px;
	height: 600px;
	right: 0;
	top: 0;
	z-index: 13;background-color: rgba(255, 0, 200, 0.5)
}

.changes-text {
	float: right
}

.changes-button {
	position: absolute;
	z-index: 14;
	left: 10px;
	top: 10px;
}

.saved {
	position: absolute;
	z-index: 15;
	left: 10px;
	top: 0px;
}

.button {
	background: linear-gradient(to right, #635d9b 0%, #5d949b 100%);
	margin: 0 5px;
	padding: 0 10px;
	border: 0;
	height: 27px;
	text-transform: uppercase;
}
 */
.popup {
	position: absolute;
	top: 20%;
	left: 50%;
	z-index: 2;
	width: 440px;
	padding: 0 20px 20px;
	margin-left: -220px;
	color: #63609b;
	background-color: #192130;
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	padding-top: 17px;
}

.header-title {
	font-size: 20px;
	color: #fff;
	margin-right: 40px;
	cursor: move;
}

.close {
	position: absolute;
	top: 20px;
	right: 24px;
	width: 16px;
	height: 16px;
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
}

.close::before,
.close::after {
	position: absolute;
	top: 7px;
	left: 0;
	width: 22px;
	height: 2px;
	background-color: #939393;
	transition: background-color .3s ease;
	content: '';
}

.close::before {
	transform: rotate(45deg);
}

.close::after {
	transform: rotate(-45deg);
}

.close:hover::before,
.close:hover::after {
	background-color: #63609b;
}

.label {
	display: inline-block;
	vertical-align: top;
	padding-top: 14px;
	width: 85px;
	font-size: 10px;
	text-transform: uppercase;
}

.input {
	background-color: #0b1424;
	padding: 4px 8px;
	border: 0;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	width: 170px;
	height: 34px;
	box-sizing: border-box;
	color: #fff;
	transition: background-color .3s ease;
}

.input:focus {
	outline: none;
	background-color: #2e2d49;
}

.input.input-photo {
	height: 34px;
}

textarea.input {
	width: 300px;
	height: 120px;
	padding-top: 8px;
}

.controls {
	padding-left: 85px;
}

.controls > div {
	margin-bottom: 10px;
}

.button {
	overflow: hidden;
	position: relative;
	background-color: #5d949b;
	margin: 0 5px;
	padding: 0 20px;
	border: 0;
	width: 140px;
	height: 27px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}

.button span {
	position: relative;
	z-index: 2;
}

.button::after {
	content: '';
	transition: opacity 2s ease;
	opacity: 1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	transition: opacity .3s ease;
	background: linear-gradient(to right, #635d9b 15%, #5d949b 100%);
}

.button:hover::after {
	opacity: 0;
}

.button:active {
	left: 1px;
	top: 1px;
}

.button:focus {
	outline: none;
}




